@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  /* background: #F6F8FC; */
}
.faqs-nav{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://r4.wallpaperflare.com/wallpaper/531/72/20/red-bull-formula-1-car-racing-wallpaper-f910e8cd01fa1d7b1647f89f3091360d.jpg');
    background-size: cover;
}

.heading {
  color: #f7f7f7;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

form {
  display: flex;
  max-width: 35rem;
  background-color: #fff;
  align-items: center;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
form svg {
  height: 1rem;
  fill: #9EA6AE;
  max-width: 4rem;
}

.searchbar:focus {outline:none;}

.searchbar {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  padding: 1rem;

  width: 100%;

  border-radius: 0.8rem;
}

form:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px #DEE4F1, 0px 5px 13px 0px #DEE4F1;
}

.faq {
  margin: 2rem 0;
    min-height: 45vh;
    max-height: 55vh;
    overflow: scroll;

}

.question-wrapper {
  max-width: 35rem;
  border-bottom: 0.2px solid #b7bcc2;
  margin: 0 auto;
  padding: 1rem;
  transition: 1s;

}

.question {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #d6d7de;
  display: flex;
  justify-content: space-between;
}
.question:hover{
    cursor: pointer;
}
.question svg {
  width: 1rem;
  height: 1.5rem;
  fill: white;
}
.question svg.active {
  transform: rotate(180deg);
}
.question svg:hover {
  opacity: 0.8;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.answer {
  display: none;
}

.answer.active {
  display: block;
  text-align: left;
  padding-top: 1.5rem;
  font-weight: light;
  font-size: 1rem;
  line-height: 1.5;
  color: #f1f1f1;
  height: 0%;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}